.form {
  .input_account {
    height: 65px;
    label {
      margin-right: 80px;
    }
    p {
      color: red;
    }
  }
  .input_password {
    height: 65px;
    label {
      margin-right: 80px;
    }
    p {
      color: red;
    }
  }
  .input_email {
    height: 65px;
    label {
      margin-right: 110px;
    }
    p {
      color: red;
    }
  }
  .input_name {
    height: 65px;
    label {
      margin-right: 101px;
    }
    p {
      color: red;
    }
  }
  .input_phone {
    height: 65px;
    label {
      margin-right: 51px;
    }
    p {
      color: red;
    }
  }
  .input_usertype {
    height: 65px;
    label {
      margin-right: 30px;
    }
    p {
      color: red;
    }
  }
  .input_group {
    height: 65px;
    label {
      margin-right: 78px;
    }
    p {
      color: red;
    }
  }
}
